* {
    margin: 0;
}

body {
    margin: auto;
    font-family: 'Laila', sans-serif;
}

.map_section_header {
    /* background-color: black;
    color: white; */
    height: 130px;
}

.map_section_header > h1 {
    font-size: 2.5em;
    display: flex;
    position: absolute;
    margin: 2% 6%;
}

.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    /* gap: 5em; */
    justify-content: space-between;
    /* border: 5px solid lime; */
    margin-bottom: 3em;
}

.col {
    /* margin: 0 1em; */
    display: inline-block;
    /* border: 3px solid; */
}

.col > div {
    /* width: 70%; */
    margin: auto;
    /* border: 3px solid palevioletred; */
}

.list_item {
    width: 40%;
    display: block;
    margin-left: 2em;
}

.item_set {
    padding: 1em;
}

.item_set > h3 {
    font-size: 24px;
    margin-bottom: 16px;
}

.item_set > ul {
    font-size: 1.2em;
    padding: 0 0 0 3.5em;
}

.item_set > ul > li {
    margin-bottom: 10px;
    list-style: disc;
}

.item_set > ul > li > a {
    color: black;
}

.img_div {
    position: relative;
    right: 2em;
    display: flex;
    /* border: 3px solid gold; */
}

Iframe {
    /* max-width: 800px; */
    /* width: 100%; */
    margin: auto;
    height: 80%;
}

a{
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .container {
        display: block;
    }

    .col {
        width: 80%;
        margin-inline: auto;
        align-items: center;
    }

    .list_item {
        width: 50%;
    }

    .item_set {
        width: 80%;
    }

    .img_div {
        margin-top: 2em;
        right: inherit;
    }

    Iframe {
        margin-inline: auto;
        height: 500px;
        /* width: 100%; */
    }
}

@media screen and (max-width: 850px) {
    .list_item {
        width: 80%;
    }
    
    .item_set > ul {
        padding: 0 0 0 1em;
    }

    .img_div {
        margin-bottom: 30px;
    }

    Iframe {
        width: 100%;
        height: 600px;
    }
}